<html>
  <head>
    <title>Recipe Website
    </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
  </head>
  <body>
  <%
  String.prototype.replaceAll = function(search, replacement) {
    var target = this;
    return target.split(search).join(replacement);
  };

  url = "/"; //Need to change during deployment

  %>
    <form method="get" action="/myview"> 
      <br>
      <div class="row">
        <div class="col-md-5">
          <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search" id="txtSearch"/>
            <div class="input-group-btn">
              <button id="searchBtn" class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search" >
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <% recipes.forEach( function(recipe) { %>
    <br><br>
    <div class="row">
      <div class="col-sm-9">
        <div class="card">
          <img class="card-img-top" src="<%=recipe.imgurl %>" style="width:100%" alt="Card image cap">
          <div class="card-block">
            <br>
	    <a href="/item/<%=recipe.title %>" >
            <h1 class="card-title text-center"> <%=recipe.title %>
            </h1>
	   </a>
            <br>
            <h2 class="card-subtitle mb-2 "> Author</h2>
            <p class="card-text">
              <%=recipe.author %>
            </p>
            <br>
            <h2 class="card-subtitle mb-2 ">
              Ingredients
            </h2>
            <ul class="ingredients">
              <% recipe.ingredients.forEach( function(ingredient)
              {%>
                <li> <%=ingredient %>
                </li>
              <%
              });
              %>
            </ul>
            <br>
            <h2 class="card-subtitle mb-2 ">Procedure</h2>
            <br>
            <p class="card-text">

             <%=recipe.procedure %>

            </p>
            <br>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <% }) %>

  </body>
</html>
